body {
    padding-top:      50px;
    padding-bottom:   20px;
    font-size: 16px;
    background-color: white;
}


.body-content {
    padding-left:  15px;
    padding-right: 15px;
}

.siteTitleArea {
    color: red;
    font-size: x-large;
    font-style: italic;
}

.nav a{
    font-size: 1.4em;
}
.nav li{
    padding-right:5px;
}

.navbar .container .navbar-brand {
    color: #373535;
    font-size: 40px;
    margin: 8px 0;
}

#detailsDiv {
    margin-left: 100px;
    direction: ltr;
    display: inline-block;
    margin-top: -50px
}

#itemsListDiv {

    float: left;
    display: inline-block;
}
.tableToDoItems {
    border-collapse: separate;
}


.tableToDoItems th, td {
    width:auto;
    text-align: left;
    padding: 20px;
    font-size:20px;
    background-color: inherit;
}


.selected {
    background-color: cornflowerblue;
}

tr .unselected {
    background-color: white;
}

.toDoChecked {
    min-width: 17px;
    min-height: 17px;
}

.toDoAttrLabel{
    font-size:30px;
    font-weight:bold;
}

.toDoAttrValue {
    font-size: 30px;
}

.detailsDiv {
    padding: 15px 15px;
    background-color: antiquewhite;
}